.install-button {
    font-size: 20px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.install-instruction {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
}
.ios-instruction {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.ios-open-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
}
